/* Pokemon coler code / logo */
.bg-logo-yellow {
    background-color: #ffcc00;
}

.bg-logo-curious-blue {
    background-color: #3d7dca;
}

.bg-logo-prussian-blue {
    background-color: #003153;
}

/* Pokemon color types */
.bg-grass {
    background-color: #7AC74C;
}

.bg-fire {
    background-color: #f04c1a;
}

.bg-poison {
    background-color: #A33EA1;
}

.bg-water {
    background-color: #6390F0;
}

.bg-bug {
    background-color: #A6B91A;
}

.bg-flying {
    background-color: #A98FF3;
}

.bg-normal {
    background-color: #A8A77A;
}

.bg-electric {
    background-color: #F7D02C;
}

.bg-ground {
    background-color: #E2BF65;
}

.bg-fairy {
    background-color: #D685AD;
}

.bg-fighting {
    background-color: #b32b26cc;
}

.bg-psychic {
    background-color: #F95587;
}

.bg-rock {
    background-color: #B6A136;
}

.bg-steel {
    background-color: #B7B7CE;
}

.bg-ice {
    background-color: rgb(0, 204, 255);
}

.bg-ghost {
    background-color: #735797;
}

.bg-dragon {
    background-color: #6F35FC;
}

.bg-dark {
    background-color: #70574670;
}