.pokemon-info-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 89;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outside-overlay-container {
    background: linear-gradient(135deg, rgb(246, 218, 0) 0%, rgb(255, 255, 255) 100%);
    height: 90vh;
    max-width: 50vw;
    width: 768px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 12px;
    display: flex;
}

.inside-overlay-container {
    height: auto;
    width: 50vw;
    box-shadow: inset 0px 0px 60px -8px #252523;
    position: relative;
}

.top-inside-overlay {
    background-image: url(../assets/img/body_bg.png);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-inside {
    background-image: url(../assets/img/pokeball_image.png);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.dialog-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
}

.dialog-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 50%;
    max-width: 250px;
    height: auto;
}

.dialog-image img {
    width: 50%;
    height: auto;
}

.dialog-info {
    position: absolute;
    left: 24px;
    bottom: 48px;
    height: auto;
}

.dialog-pokeinfo {
    text-align: left;
    padding-left: 16px;
}

.dialog-pokeinfo th {
    padding-right: 16px;
}

.dialog-type{
    display: flex;
    gap: 16px;
    align-items: center;
}

.dialog-type span {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    border: 2px solid white;
    border-radius: 8px;
}

.dialog-stats {
    text-align: left;
    padding-right: 16px;
}

.dialog-stats th {
    padding-right: 16px;
}

.bottom-inside-overlay {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
}

.dialog-poke-stats-container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    gap: 22px;
}

.dialog-poke-stats-container th, .dialog-poke-stats-container td {
    width: 100%;
    word-wrap: break-word; 
}


.dialog-poke-stats-container tr {
    display: flex;
    flex-direction: column;
}


.close-overlay-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}