.pokemon-info-card {
    max-width: 1920px;
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.pokemon-card-outside {
    background: linear-gradient(135deg, rgb(246, 218, 0) 0%, rgb(255, 255, 255) 100%);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pokemon-card-outside:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card-inside {
    background: linear-gradient(135deg, rgb(99, 180, 206) 0%, rgb(255, 255, 255) 100%);
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    box-shadow: inset 0px 0px 60px -8px #252523;
    position: relative;
}

.card-titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
    position: relative;
}

.card-titel h2 {
    font-size: 1.8rem;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 250px;
    height: 250px;
    margin-top: 8px;
    border: 4px solid rgb(210, 190, 82);
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.pokemon-card-outside:hover .card-img {
    transform: rotate(-4deg) scale(1.05);
}

.card-img:hover {
    transform: rotate(5deg) scale(1.05);
}

.card-infos {
    margin: 8px 0px;
}

.card-id {
    text-align: center;
    margin: 8px;
}

.card-id span{
    font-size: 1.2rem;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.card-types {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px 8px 8px 8px;
}

.card-types div {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: auto;
}
