input {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    text-decoration: none;
}

.d-none {
    display: none !important;
}

.b-box {
    box-sizing: content-box;
}

.c-white {
    color: white;
}