* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/img/body_bg.png);
    background-color: white;
}

main {
    flex: 1;
}

/* header */
header {
    background-color: rgb(47, 47, 47)
}

.header {
    max-width: 1920px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-left {}

.header-left img {
    height: 64px;
}

.search-container {}

.search-form {
    width: 100%;
    display: flex;
    align-items: center;
}

/* main section */
.pokemon-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

/* footer */
footer {
    background-color: rgb(47, 47, 47)
}

.footer {
    max-width: 1920px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}