* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/img/body_bg.png);
    background-color: white;
}

main {
    flex: 1;
}

/* header */
header {
    background-color: rgb(47, 47, 47)
}

.header {
    max-width: 1920px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-left {
   
}

.header-left img{
    height: 64px;
}

.search-container {
}

.search-form {
    width: 100%;
    display: flex;
    align-items: center;
}

/* input search form */
.search-form-input {
    height: 32px;
    border-width: 0;
    border-radius: 4px 0 0 4px;
    border-color: #dfd8c8;
    padding: 8px 8px;
    flex: 1;
}

.search-form-input::placeholder {
    color: rgb(47, 47, 47);
    padding-left: 8px;
}

.search-form-input:focus {
    background-color: rgb(130, 130, 130)
}

.search-form-button {
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-width: 0;
    border-radius: 0 4px 4px 0;
    background-image: url(../assets/img/pokeball_gray.png);
    background-position: 5px center;
    background-size: 24px;
    background-repeat: no-repeat;
}

.search-form-button:hover{
    background-size: 28px;
    background-position: center;
}

/* footer */
footer {
    background-color: rgb(47, 47, 47)
}

.footer {
    max-width: 1920px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}